.btn {
  font-size: 16px;
  font-weight: 400;
  border: solid 1px transparent;
  padding: 13px 22px;
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
  display: inline-block;
  &:active {
    @media (max-width: 1023px) {
      background-color: tomato;
    }
  }
  &:focus {
    box-shadow: 0 0 0 3px rgba(var(--primary), 0.5);
  }
  &.btn-primary {
    background-color: rgb(var(--primary));
    color: rgb(var(--white));
    &:hover {
      @media (any-hover: hover) {
        background-color: rgba(var(--primary), 0.9);
      }
    }
  }
  &.btn-light {
    background-color: rgba(var(--primary), 0.2);
    color: rgb(var(--primary));
    @media (min-width: 1023px) {
      &:hover {
        background-color: rgba(var(--primary), 0.3);
      }
    }
  }
  &.btn-border-primary {
    border-color: rgb(var(--primary));
    color: rgb(var(--primary));
  }
  &.btn-disabled {
    color: #dedede;
    border-color: #dedede;
    cursor: not-allowed;
  }
}
