//*** Colors ***
:root {
  --primary: 125, 81, 254, 1;

  --text: rgb(20, 21, 23);
  --balcl: 0, 0, 0;
  --white: 255, 255, 255;

  //*** Fonts ***
  --ff: "Manrope", Arial, Helvetica, sans-serif;
}

//*** Font sizes ***
:root {
  --fs-1: 16px;
}
