@use "_variables.scss";
@use "_settings.scss";
@use "_fonts.scss";
@use "./button";

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--ff);
  background-color: rgb(var(--bg));
}

.vue-devtools__anchor {
  display: none !important;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex-grow: 1;
  }
}
